<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PersonMapper">
    <resultMap id="resultMap" type="com.example.demo.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
       <collection property="courseNames" ofType="java.lang.String">
          <constructor>
              <arg column="course_name"/>
          </constructor>
       </collection>
    </resultMap>

    <update id="update">
        update student
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>

            <if test="age!=null and age!=''">
                age=#{age},
            </if>

            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>

            <if test="address!=null and address!=''">
                address=#{address},
            </if>
        </set>
        where id=#{id}
    </update>


    <select id="selectById" resultType="com.example.demo.entity.Student">
        select * from student where id=#{id}
    </select>

    <select id="selectAll" resultMap="resultMap">
           SELECT
	s.id,
	s.NAME,
	s.sex,
	s.age,
	s.address,
	c.course_name
FROM
	student s,
	course c
WHERE
	s.id = c.student_id
    </select>
    <select id="selectByName" resultMap="resultMap">
    SELECT
	s.id,
	s.NAME,
	s.sex,
	s.age,
	s.address,
	c.course_name
FROM
	student s,
	course c
WHERE
	s.id = c.student_id
	AND s.NAME =#{name}

    </select>
    <select id="selectByNameLike" resultType="com.example.demo.entity.Student">
        select *
        from student s
        where s.name like  concat('%',#{name},'%')
    </select>
    <select id="selectByNameLike1" resultType="com.example.demo.entity.Student">
         select *
        from student s
        where s.name like "%"#{name}"%"
    </select>


</mapper>